<script type="typescript">
	import { onMount } from 'svelte';

	export let dark = false;

	// load website-carbon-badges JS dependency
	// after mounting CardbonBadge
	onMount(async () => {
		await import('website-carbon-badges/b.min');

		// If `dark` prop is not passed:
		// set it based on browser dark-mode setting
		if (dark === undefined && window.matchMedia) {
			dark = window.matchMedia('(prefers-color-scheme: dark)').matches;
			// launch listener for color-scheme changes
			window
				.matchMedia('(prefers-color-scheme: dark)')
				.addEventListener('change', (e) => (dark = e.matches));
		}
	});
</script>

<template>
	<div id="wcb" class="carbonbadge" class:wcb-d={dark} />
</template>
