<script>
	import { onMount } from 'svelte';
	import CarbonBadge from '$lib/CarbonBadge.svelte';

	let darkmode = false;

	onMount(() => {
		// Set `dark` prop based on
		// browser dark-mode setting
		if (window.matchMedia) {
			darkmode = window.matchMedia('(prefers-color-scheme: dark)').matches;
			// launch listener
			window
				.matchMedia('(prefers-color-scheme: dark)')
				.addEventListener('change', (e) => (darkmode = e.matches));
		}
	});
</script>

<template>
	<div class="page" class:darkmode>
		<h1>Svelte Website Carbon Badge</h1>
		<p>
			Svelte component for <a rel="external" href="https://www.websitecarbon.com/badge/"
				>websitecarbon.com/badge/</a
			>
		</p>
		<p>
			The badge can be added to the footer of any website to automatically calculate and display the
			carbon emissions of each page. We hope that the badge will further increase awareness of web
			carbon emissions by allowing any website to display a live calculation of its carbon
			emissions.
		</p>

		<h2>Usage</h2>
		<pre><code>
            // some.svelte
            import Carbonbadge from "svelte-carbonbadge";
            //...
            &lt;Carbonbadge /&gt;
        </code></pre>

		<p>
			The component takes one (Boolean) <code>dark</code> prop to activate dark-mode, but also takes
			OS/Browser settings into account through <code>prefers-color-scheme: dark</code>
		</p>

		<h2>Example:</h2>

		<CarbonBadge dark={darkmode} />

		<p>
			<label>
				<input type="checkbox" bind:checked={darkmode} on:toggle />
				Toggle <b>Dark Mode</b>
			</label>
		</p>
	</div>
</template>

<style type="postcss">
	h1 {
		font-size: 1.25rem;
	}
	h2 {
		font-size: 1rem;
	}
	@media (min-width: 25em) {
		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.5rem;
		}
	}

	pre {
		background-color: rgba(100, 100, 100, 0.3);
	}
	code {
		color: rgba(50, 100, 20, 0.9);
	}
	.page {
		padding: 2vw;
	}
	.darkmode {
		background-color: #222;
		color: #fff;
	}
	.darkmode * {
		color: #fff;
	}
</style>
